.background {
  background-color: black;
  height: 100vh;
  background-image: url("../assets//Images/static1.squarespace.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
